<% @bookings_client.each do |booking| %>
<div class="card-booking col-5 p-0 mb-4">
  <div class="border-radius w-100 h-100">
    <% if current_user.role == "vendor" %>
      <h5 class="card-title text-center">Réservé par : <%= booking.user.name %></h5>
    <% end %>
    <div class="card-body px-5 py-3 rounded w-100 shadow bg-purple gap-2">
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item bg-gray rounded my-1 ">Réservation :<br> <%= booking.start_date %> au <%= booking.end_date %></li>
        <li class="list-group-item bg-gray rounded my-1">Commentaire : <br>
        <% if booking.comment.size >= 80 %>
          <%= booking.comment[0..80]%> ...
        <% else %>
          <%= booking.comment %>
        <% end %></li>
        <li class="list-group-item bg-gray rounded my-1">Prix total de la prestation : <%= booking.total_price %> €</li>
        <li class="list-group-item bg-gray rounded my-1">Status de la commande : <%= booking.status %></li>
      </ul>
      <% if booking.status == "Effectuée" && !booking.rating %>
        <%= link_to "Déposer un avis", new_booking_rating_path(booking), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
