+<div class="cover mb-4 d-flex align-items-center justify-content-center">
+  <div class="text-center">
+    <h1>Mes commandes</h1>
+    <h3 class="typed-js" data-controller="typed-js"></h3>
+  </div>
+</div>
+<div class="container w-100">
+  <div class="row pt-5 flex-wrap gap-2" id="cards">
+      <% @bookings.each do |booking| %>
+      <div class="card col-3 p-0 d-flex border-0">
+        <%= link_to booking_path(booking), class: "text-decoration-none text-white" do %>
+          <div class="border-radius w-100 h-100">
+              <div class= "card-bottom1">
+                <div style="height: 200px" class="card-body bg-purple">
+                    <p class="card-start-date"><%= booking.start_date %></p>
+                    <p class="card-end-date"><%= booking.end_date %></p>
+                    <p class="card-comment"><%= booking.comment %></p>
+                    <p class="card-total-price"><%= booking.total_price %></p>
+                </div>
+              </div>
+          </div>
+        <% end %>
+      </div>
+    <% end %>
+  </div>
+</div>
