<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 form-container">
      <div class="text-center mb-4">
        <%= cl_image_tag @offer.user.photo.key, height: 150, gravity: "face", crop: "fill", style: "border-radius: 50%" %>
        <h4 class="my-2"><%= @offer.user.name %></h4>
      </div>
      <h2 class="text-center mb-4">Votre commande</h2>
      <div>
        <%= simple_form_for [@booking, @rating] do |f| %>
          <%= f.input :score, collection: 0..5 %>
          <%= f.button :submit, class: "btn btn-purple mb-5 mt-3", value: "Déposer un avis !" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
