<% if flash[:alert] %>
  <div class="flash">
    <%= flash[:alert] %>
  </div>
<% end %>
<%= render "shared/search" %>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Trouve ton charot </h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container w-100">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Liste des offres</h3>
      <% if user_signed_in? %>
        <%= link_to "Créer une offre", new_offer_path, class: "btn btn-purple rounded border-radius-lg border-white" if current_user.role == "vendor"%>
      <% end %>
  </div>
  <div class="row pt-5 flex-wrap gap-2" id="cards">
    <% @offers.each do |offer| %>
      <div class="card col-3 p-0 d-flex border-0">
        <%= link_to offer_path(offer), class: "text-decoration-none text-white" do %>
          <div class="border-radius w-100 h-100">
              <div class= "card-top">
                <div style="border-radius: 12px 12px 0 0;height: 400px; width: 100%; background-repeat: no-repeat; background-size: cover; background-image: url('<%= cl_image_path offer.user.photo.key, transformation: { dpr: "auto", responsive: true, width: "auto", crop: "scale", gravity: :face} %>')"></div>
                <div class= "image-name fs-4"><%= offer.user.name %></div>
              </div>
              <div class= "card-bottom1">
                <div style="height: 200px" class="card-body bg-purple">
                    <h5 class="card-title"><%= offer.title %></h5>
                    <p class="card-description">
                      <% if offer.description.size >= 50 %>
                        <%= offer.description[0..50]%> ...
                      <% else %>
                        <%= offer.description %>
                      <% end %>
                    </p>
                </div>
              </div>
              <div class= "card-bottom2 bg-purple d-flex justify-content-between px-2" style="border-radius: 0 0 12px 12px">
                <div class="flex flex-column">
                  <p class="m-0">Note:</p>
                  <p class="card-price"><%= offer.user.average %> / 5</p>
                </div>
                <p class="card-pric p-2"><%= offer.price %> € / jour</p>
              </div>
          </div>
        <% end %>
        <% if user_signed_in? && offer.user != current_user %>
          <% if !offer.favourites.exists?(user: current_user) %>
            <%= link_to favourites_create_path(offer_id: offer) do %>
              <i class="fa-regular fa-heart position-absolute" style="color: red; top: 15px; right: 15px; font-size: 30px;"></i>
            <% end %>
          <% else %>
            <%= link_to favourites_destroy_path(offer), data: { turbo_method: :delete } do%>
              <i class="fa-solid fa-heart position-absolute" style="color: red; top: 15px; right: 15px; font-size: 30px;"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
