<div class="box my-5 text-center w-100 row justify-content-center">
  <div class="titre col-4 start-50 align-items-center">
    <h1>Offre de <%= @offer.user.name %></h1>
  </div>
</div>
<div class="p-5 container">
  <div class="row g-0 justify-content-around  mt-5">
    <div class="col-4">
      <div class="card col-3 p-0 d-flex border-0 border-">
          <div class="border-radius w-100 h-100">
              <div class= "card-top">
                <div style="height: 400px; width: 100%; background-repeat: no-repeat; background-size: cover; background-image: url('<%= cl_image_path @offer.user.photo.key, transformation: { dpr: "auto", responsive: true, width: "auto", crop: "scale", gravity: :face} %>')"></div>
                <div class= "image-name fs-4"><%= @offer.user.name %></div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-8 bg-purple">
      <div class="card-body p-3">
        <h1 class="card-title"><%= @offer.title %></h1>
        <p class="card-text"><p><%= @offer.description %></p></p>
        <p class="card-text"><small class="text-body-secondary">Prestation : <%= @offer.category %></small></p>
        <p class="card-text"><small class="text-body-secondary">Tarif : <%= @offer.price %> € / jours</small></p>
      </div>
    </div>
  </div>

  <% if @offer.user != current_user && current_user.role == "client"%>
    <div class="row mt-5 justify-content-center">
      <%= link_to "LOUER !", new_offer_booking_path(@offer), class: "btn btn-purple button-85 col-3" %>
    </div>
  <% elsif @offer.user == current_user %>
    <div class="row justify-content-center">
      <%= link_to 'Editer cette offre', edit_offer_path(@offer), class: "btn btn-purple m-5 col-2 button-85", role: "button" %>
      <%= link_to 'Supprimer cette offre', offer_path(@offer), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }, class: "btn btn-purple m-5 col-2 button-85", role: "button" %>
    </div>
  <% end %>
</div>
