<div class="box my-5 text-center w-100 row justify-content-center">
  <div class="titre col-4 start-50 align-items-center">
    <h1>Offre de <%= @offer.user.name %></h1>
  </div>
</div>

<div style="max-width: 1200px; margin: 0 auto;" class="p-5">
  <div class="row g-0 justify-content-around  mt-5">
    <div class="col-4">
     <%= cl_image_tag(@offer.user.photo.key, width: 180, height: 180, crop: :thumb, gravity: :face, class: "img-fluid", style: "border-radius: 50%;" ) %>
    </div>
    <div class="col-8 bg-purple">
      <div class="card-body p-3">
        <h1 class="card-title"><%= @offer.title %></h1>
        <p class="card-text"><p><%= @offer.description %></p></p>
        <p class="card-text"><small class="text-body-secondary">Prestation : <%= @offer.category %></small></p>
        <p class="card-text"><small class="text-body-secondary">Tarif : <%= @offer.price %> € / jours</small></p>
      </div>
    </div>
  </div>
  <% if @offer.user != current_user %>
    <div class="row mt-5 justify-content-center">
      <button class="btn btn-purple col-3">LOUER !</button>
    </div>
  <% else %>
    <div class="row justify-content-center">
      <%= link_to 'Editer cette offre', edit_offer_path(@offer), class: "btn btn-purple m-5 col-2" %>
      <%= link_to 'Supprimer cette offre', offer_path(@offer), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }, class: "btn btn-purple m-5 col-2" %>
    </div>
  <% end %>
</div>
